@use "../utils/utils" as *;

.dropDown {
  display: flex;
  align-items: center;
  position: relative;
  width: max-content;

  ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $mainWhite;
    width: max-content;
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    visibility: hidden;
    z-index: 2;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    @include transition;
    min-width: 100%;

    @include onDesktop {
    }

    li {
      padding: 6px 12px;
      border-bottom: 2px solid $cyan;
      cursor: pointer;
      white-space: nowrap;

      &:hover {
        background-color: $cyan;
        color: $mainWhite;
      }

      &.current {
        display: none;
      }
    }

    &.showList {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
      visibility: visible;
    }
  }
}
