@use "../utils/utils" as *;

.page {
  &__nav {
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 60px;
    }

    @include onDesktop {
      margin-bottom: 88px;
    }
  }

  &__header {
    margin-bottom: 24px;

    @include onDesktop {
      margin-bottom: 120px;
    }
  }

  &__main {
    margin-bottom: 120px;

    @include onDesktop {
      margin-bottom: 38px;
    }
  }
}
