*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

a {
  color: initial;
  text-decoration: none;
  cursor: pointer;
  width: max-content;
  color: inherit;
}

ul,
ol {
  list-style: none;
  cursor: default;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  cursor: default;
}
