$mainWhite: #fff;
$whiteDeco: #f6f7f8;
$mainBlack: #212121;
$cyan: #00798a;
$red: #e32359;
$coral: #f65858;
$grey: #707070;
$greyDeco: #c5c4c4;
$green: #7c6f50;
$borderGrey: #d9d9d9;
$backgroundDeco: rgba(151, 202, 209, 0.08);
$borderRadius: 8px;
$inputHeight: 42px;
